// COLORS
.text-accent
    color: $accent !important

// GENERAL PROJECT STYLES
.text-center
    text-align: center

.heading
    font-size: calc(var(--px1) * 64)
    text-transform: uppercase
    line-height: 1.21875

.tooltip
    cursor: pointer
    position: relative
    &-content
        position: absolute
        bottom: calc(var(--px1) * 30 + 100%)
        left: 50%
        transform: translateX(-50%)
        width: calc(var(--px1) * 360)
        background: #0D2536
        color: #fff
        padding: calc(var(--px1) * 20)
        font-size: calc(var(--px1) * 14)
        display: none
        border: calc(var(--px1) * 1) solid #54758E
        &:after
            content: ""
            position: absolute
            top: 100%
            left: 50%
            transform: translateX(-50%)
            border-width: calc(var(--px1) * 15)
            border-style: solid
            border-color: #0D2536 transparent transparent transparent


.breadcrumbs
    font-size: calc(var(--px1) * 13)
    line-height: 1.54
    display: flex
    overflow-x: auto
    -ms-overflow-style: none
    crollbar-width: none
    &::-webkit-scrollbar
        display: none
    a, span
        white-space: nowrap
    a
        font-size: calc(var(--px1) * 13)
        line-height: 1.54
        position: relative
        color: #fff
        text-decoration: none
        padding-right: calc(var(--px1) * 34)
        &:after
            right: calc(var(--px1) * -10)
            position: absolute
            top: 50%
            margin-top: calc(var(--px1) * -8)
            padding-right: calc(var(--px1) * 34)
            content: ''
            width: calc(var(--px1) * 16)
            height: calc(var(--px1) * 16)
            display: block
            background-size: calc(var(--px1) * 16) calc(var(--px1) * 16)
            background-repeat: no-repeat
            background-position: 0 0
            background-image: url(../images/dist/bread.svg)
    span
        font-weight: bold

.char
    padding-left: calc(var(--px1) * 15)
    padding-right: calc(var(--px1) * 15)
    padding-top: calc(var(--px1) * 10)
    padding-bottom: calc(var(--px1) * 10)
    background: #39576D
    display: inline-flex
    transition: .3s ease
    text-decoration: none
    > *
        margin-top: auto
        margin-bottom: auto
    svg
        width: calc(var(--px1) * 15)
        height: calc(var(--px1) * 15)
        margin-left: calc(var(--px1) * 5)
        path, rect
            transition: .3s ease
    .icon-quest
        margin-left: 0
    .tooltip
        position: relative
        width: calc(var(--px1) * 15)
        height: calc(var(--px1) * 15)
        margin-left: 5px
        svg
            position: absolute
            top: 0
            left: 0
    .icon-check
        width: calc(var(--px1) * 20)
        height: calc(var(--px1) * 25)
        margin-left: 0
    span
        font-size: calc(var(--px1) * 20)
        line-height: 1.25
        color: #FFFFFF

 
a.char
    &:hover
        background-color: #16D1E2
        span
            color: #000
        svg
            path, rect
                fill: #000


.semi-heading
    font-size: calc(var(--px1) * 40)
    line-height: 1.125
    color: #FFFFFF

.sub-heading
    font-size: calc(var(--px1) * 40) 
    color: rgba(55, 169, 185, 0.5)
    text-transform: uppercase

.text-lg
    font-size: calc(var(--px1) * 40)
    line-height: 1.225
    color: #FFFFFF


.text, blockquote
    font-size: calc(var(--px1) * 24)
    line-height: 1.3333
    color: #FFFFFF
    position: relative
    padding-left: calc(var(--px1) * 30)
    padding-top: calc(var(--px1) * 30)
    .semi-heading
        margin-bottom: calc(var(--px1) * 20)
    &:before
        content: ''
        display: block
        width: calc(var(--px1) * 80)
        height: calc(var(--px1))
        background-color: #54758E
        position: absolute
        top: 0
        left: 0
    &:after
        content: ''
        display: block
        width: calc(var(--px1))
        height: calc(var(--px1) * 80)
        background-color: #54758E
        position: absolute
        top: 1px
        left: 0

.btn
    font-size: calc(var(--px1) * 24)
    line-height: calc(var(--px1) * 67)
    height: calc(var(--px1) * 67)
    display: flex
    color: #000000
    justify-content: space-between
    padding-left: calc(var(--px1) * 20)
    padding-right: calc(var(--px1) * 20)
    border: 0
    background-color: #16D1E2
    transition: .3s ease
    text-decoration: none !important
    span, svg
        margin-top: auto
        margin-bottom: auto
    svg
        width: calc(var(--px1) * 30)
        height: calc(var(--px1) * 31)
        margin-left: calc(var(--px1) * 20)
        rect
            transition: .3s ease
    &:hover
        color: #fff
        svg
            rect
                fill: #fff

.btn-call
    height: calc(var(--px1) * 38)
    font-size: calc(var(--px1) * 14)
    line-height: calc(var(--px1) * 38)
    color: #000000
    border: 0
    padding-left: calc(var(--px1) * 10)
    padding-right: calc(var(--px1) * 10)
    background-color: #16D1E2
    transition: .3s ease
    &:hover
        color: #fff


.btn-link
    font-size: calc(var(--px1) * 20)
    letter-spacing: calc(var(--px1))
    color: #FFFFFF
    border: calc(var(--px1)) solid #54758E
    text-decoration: none
    display: inline-block
    padding-left: calc(var(--px1) * 20)
    padding-right: calc(var(--px1) * 20)
    height: calc(var(--px1) * 57)
    line-height: calc(var(--px1) * 57)
    transition: .3s ease
    background-color: transparent
    &:hover
        border-color: #16D1E2
        background-color: #16D1E2
        color: #000

.btn-arr
    display: flex
    width: calc(var(--px1) * 633)
    height: calc(var(--px1) * 120)
    display: inline-flex
    background-color: #16D1E2
    padding-left: calc(var(--px1) * 35)
    padding-right: calc(var(--px1) * 35)
    justify-content: space-between
    text-decoration: none
    border: 0
    svg
        width: calc(var(--px1) * 56)
        height: calc(var(--px1) * 30)
        margin-top: auto
        margin-bottom: auto
        transition: .3s ease
        transform: rotate(-45deg)
        path
            transition: .3s ease
            fill: #000
    span
        margin-top: auto
        margin-bottom: auto
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 40)
        line-height: 1.175
        color: #000000
        transition: .3s ease
    &:hover
        svg
            transform: rotate(0deg)
            path
                fill: #fff
        span
            color: #fff

.btn-quest
    display: inline-flex
    width: calc(var(--px1) * 204)
    height: calc(var(--px1) * 49)
    padding-left: calc(var(--px1) * 20)
    padding-right: calc(var(--px1) * 20)
    color: #fff
    font-size: calc(var(--px1) * 16)
    line-height: 1.25
    background-color: #39576D
    border: 0
    svg
        width: calc(var(--px1) * 30)
        height: calc(var(--px1) * 31)
        margin-right: calc(var(--px1) * 15)
    > *
        margin-top: auto
        margin-bottom: auto



.cat
    display: block
    width: 100%
    height: 100%
    position: relative
    border: calc(var(--px1) * 0.5) solid rgba(46, 74, 95, 0.2)
    transition: .3s ease
    background-color: rgba(46, 74, 95, 0.2)
    text-decoration: none
    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        transition: opacity .6s ease
    &__title
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 40)
        line-height: 1.225
        color: #FFFFFF
        position: absolute
        left: calc(var(--px1) * 50)
        top: calc(var(--px1) * 50)
        z-index: 1

    &__arr
        z-index: 1
        position: absolute
        right: calc(var(--px1) * 50)
        bottom: calc(var(--px1) * 50)
        width: calc(var(--px1) * 101) 
        height: calc(var(--px1) * 101) 
        background-color: #16D1E2
        border-radius: 50%
        display: flex
        transform: rotate(-45deg)
        transition: .3s ease
        svg
            margin: auto
            width: calc(var(--px1) * 56)
            height: calc(var(--px1) * 30)
            path
                fill: #000
                transition: .3s ease

    &:hover
        border-color: #234368
        .cat
            &__arr
                background-color: transparent
                transform: rotate(0)
        svg
            path
                fill: #fff
        img
            opacity: 1

.tags
    display: flex
    span, a
        font-size: calc(var(--px1) * 12)
        line-height: calc(var(--px1) * 15)
        color: #FFFFFF
        padding: 7px 10px
        border: calc(var(--px1)) solid #54758E
        background-color: #39576D
        text-decoration: none
        transition: .3s eaes
        white-space: nowrap
    a:hover
        background-color: $accent
        color: #000


.site
    display: flex
    border: calc(var(--px1) * 1) solid #54758E
    text-decoration: none
    
    &__img
        max-width: calc(var(--px1) * 100)
        min-width: calc(var(--px1) * 100)
        border-right: calc(var(--px1) * 1) solid #54758E
        position: relative
        img
            max-width: 100%
            height: auto
            position: absolute
            object-fit: cover
            top: 0
            left: 0
            width: 100%
            height: 100%
            transition: .3s ease
    &__date
        font-size: calc(var(--px1) * 12)
        line-height: 1.2
        color: #16D1E2

    &__content
        padding: calc(var(--px1) * 20)

    &__meta
        display: flex
        justify-content: space-between
    &__title
        font-weight: 700
        font-size: calc(var(--px1) * 15 )
        line-height: 1.2
        color: #FFFFFF
        margin-top: calc(var(--px1) * 10)
    .tags
        margin-left: calc(var(--px1) * 20)
        display: block
    &:hover
        .site
            &__img
                img
                    opacity: .8
.card
    text-decoration: none
    filter: drop-shadow(0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01)) drop-shadow(0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05)) drop-shadow(0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09)) drop-shadow(0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1))
    padding-bottom: calc(var(--px1) * 99)
    border: calc(var(--px1)) solid #54758E
    background-color: #2E4A5F
    display: flex
    height: 100%
    flex-direction: column
    color: #fff
    &__img
        img
            width: 100%
            height: auto
    &__date
        font-size: calc(var(--px1) * 12)
        line-height: calc(var(--px1) * 15)
        color: #16D1E2
    &__title
        font-size: calc(var(--px1) * 20)
        line-height: calc(var(--px1) * 25)
        font-weight: bold
        color: #FFFFFF
        margin-top: calc(var(--px1) * 30)
    &__desc
        margin-top: calc(var(--px1) * 10)
        font-size: calc(var(--px1) * 15)
        line-height: calc(var(--px1) * 18)
        color: rgba(255, 255, 255, 0.6)
    &__content
        padding-left: calc(var(--px1) * 30)
        padding-right: calc(var(--px1) * 30)
        padding-top: calc(var(--px1) * 30)
    &__bottom
        padding-left: calc(var(--px1) * 30)
        padding-right: calc(var(--px1) * 30)
        position: absolute
        width: 100%
        left: 0
        bottom: calc(var(--px1) * 30)
        display: flex
        justify-content: space-between
        .tags
            margin-top: auto
            margin-bottom: auto
        svg
            margin-top: auto
            margin-bottom: auto
            width: calc(var(--px1) * 56)
            height: calc(var(--px1) * 30)
            transform: rotate(-45deg)
            transition: .3s ease
            path
                transition: .3s ease
                fill: #16D1E2
    &:hover
        svg
            transform: rotate(0)
            path
                fill: #fff

    &_featured
        flex-direction: row
        padding-bottom: 0
        .card
            &__img
                width: 50%
                min-width: 50%
                max-width: 50%
            &__content
                position: relative
                padding-left: calc(var(--px1) * 50)
                padding-right: calc(var(--px1) * 50)
                padding-top: calc(var(--px1) * 50)
                padding-bottom: calc(var(--px1) * 99)
            &__bottom
                padding-left: calc(var(--px1) * 50)
                padding-right: calc(var(--px1) * 50)

            &__desc
                font-size: calc(var(--px1) * 16)
                line-height: calc(var(--px1) * 20)

            &__title
                font-size: calc(var(--px1) * 24)
                line-height: calc(var(--px1) * 33)

.grid-products
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 0
    .item
        display: flex
        width: calc(var(--px1) * 503.3333333)
        height: calc(var(--px1) * 503.3333333)
        margin: 0
        line-height: 1
        .heading
            margin-left: calc(var(--px1) * 8)
            margin-top: calc(var(--px1) * 129)

.grid-news
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(1, 1fr)
    gap: calc(var(--px1) * 30)

.sidebar-block
    filter: drop-shadow(0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01)) drop-shadow(0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05)) drop-shadow(0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09)) drop-shadow(0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1))
    background-color: #2E4A5F
    &__title
        font-size: calc(var(--px1) * 36)
        line-height: 0.92
        color: #28455A
        padding-left: calc(var(--px1) * 25)
        padding-right: calc(var(--px1) * 25)
        padding-top: calc(var(--px1) * 15)
        padding-bottom: calc(var(--px1) * 20)
        background-color: #fff
    &_tags
        .tags
            border: calc(var(--px1) * 1) solid #54758E
            border-top: 0
            flex-wrap: wrap
            padding: calc(var(--px1) * 25)
            padding-bottom: calc(var(--px1) * 20)
            >*
                margin-right: 5px
                margin-bottom: 5px

.journal-container
    padding-right: calc(var(--px1) * 480)
    position: relative
    .grid-news
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: auto
        gap: calc(var(--px1) * 30)
    .sidebar
        position: absolute
        top: 0
        right: 0
        width: calc(var(--px1) * 410)
        .sidebar-block
            margin-bottom: calc(var(--px1) * 50)
           

.pagenavi
    display: flex
    justify-content: center
    margin-top: calc(var(--px1) * 100)
    &__page
        font-family: 'marby'
        font-size: calc(var(--px1) * 24)
        line-height: calc(var(--px1) * 45)
        letter-spacing: calc(var(--px1) * 1)
        color: #FFFFFF
    > *
        margin-top: auto
        margin-bottom: auto
    &__prev
        margin-right: calc(var(--px1) * 118)
    &__next
        margin-left: calc(var(--px1) * 118)
    &__prev, &__next
        width: calc(var(--px1) * 58)
        height: calc(var(--px1) * 57)
        svg
            width: calc(var(--px1) * 58)
            height: calc(var(--px1) * 57)

.slider-projects
    .slide
        display: flex
        .c-1
            min-width: 770px
        .c-2
            min-width: 750px

.lang
    border: calc(var(--px1)) solid #39576D
    font-size: calc(var(--px1) * 18)
    display: flex
    span
        background: #39576D
    span, a
        display: block
        width: calc(var(--px1) * 56)
        height: calc(var(--px1) * 42)
        text-decoration: none
        text-align: center
        line-height: calc(var(--px1) * 42)
        color: #fff
        transition: .3s ease
    a:hover
        background: #39576D

.card-info
    background: #2E4A5F
    border: calc(var(--px1) * 1) solid #54758E
    box-shadow: 0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01), 0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05), 0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09), 0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1)
    &__heading
        padding-left: calc(var(--px1) * 35)
        padding-right: calc(var(--px1) * 35)
        display: flex
        font-size: calc(var(--px1) * 24)
        line-height: 1.375
        color: #FFFFFF
        font-weight: bold
        min-height: calc(var(--px1) * 103)
        padding-top: calc(var(--px1) * 15)
        padding-bottom: calc(var(--px1) * 15)
        border: calc(var(--px1) * 1) solid #54758E
        margin-bottom: calc(var(--px1) * 35)
        span
            margin-top: auto
            margin-bottom: auto

    &__char
        display: flex
        padding-left: calc(var(--px1) * 35)
        padding-right: calc(var(--px1) * 35)
        margin-bottom: calc(var(--px1) * 23)
   
        &-title
            margin-right: calc(var(--px1) * 10)
            font-size: calc(var(--px1) * 24)
            line-height: 1.375
            color: #FFFFFF
        .char
            margin-right: calc(var(--px1) * 5)
        > * 
            margin-top: auto
            margin-bottom: auto
    
    .btn-arr
        margin-top: calc(var(--px1) * 12)
        width: 100%
        span
            font-size: calc(var(--px1) * 32)
.calc-form
    background: #EBF1F5
    border: calc(var(--px1) * 1) solid #54758E
    display: flex
    padding-top: calc(var(--px1) * 50)    
    padding-bottom: calc(var(--px1) * 50)    
    .heading
        color: #0D2536
        margin-bottom: calc(var(--px1) * 14)
    .semi-heading
        color: #0D2536
    .c-1
        min-width: 37.3%
        max-width: 37.3%
        padding-left: calc(var(--px1) * 50)    
        padding-right: calc(var(--px1) * 59)    
    .c-2
        min-width: 62.7%
        max-width: 62.7%
        padding-right: calc(var(--px1) * 50)    

.form
    display: flex
    flex-direction: column
    &__select
        width: 100%
        height: calc(var(--px1) * 87)
        margin-bottom: calc(var(--px1) * 20)
        border-radius: 0
        border: calc(var(--px1) * 1) solid #54758E !important
        padding-left: calc(var(--px1) * 30)
        padding-right: calc(var(--px1) * 30)
        color: #000
        font-size: calc(var(--px1) * 24)
        outline: none !important
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background-color: #fff !important
        background-image: url(../images/dist/arr-select.svg)
        background-repeat: no-repeat
        background-position: right calc(var(--px1) * 30) center
        background-size: calc(var(--px1) * 30) calc(var(--px1) * 31)
        &.error
            color: #FF1F00 !important
            border-color: #FF1F00 !important
            background-image: url(../images/dist/arr-select-err.svg)
    &__input
        padding-left: calc(var(--px1) * 30)
        padding-right: calc(var(--px1) * 30)
        width: 100%
        height: calc(var(--px1) * 87)
        margin-bottom: calc(var(--px1) * 20)
        border-radius: 0
        border: calc(var(--px1) * 1) solid #54758E !important
        color: #000
        font-size: calc(var(--px1) * 24)
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        &::placeholder
            color: #A2ABB1
        &.error
            color: #FF1F00
            border-color: #FF1F00 !important
            &::placeholder
                color: #FF1F00
    .btn-arr
        width: 100%
        span
            font-size: calc(var(--px1) * 32)
    
    &__error
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 16)
        color: #FF1F00
        margin-top: -10px
        margin-bottom: calc(var(--px1) * 20)

.slider-card
    border: calc(var(--px1) * 1) solid #54758E
    filter: drop-shadow(0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01)) drop-shadow(0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05)) drop-shadow(0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09)) drop-shadow(0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1))
    .swiper-button-prev, .swiper-button-next
        width: calc(var(--px1) * 51)
        height: calc(var(--px1) * 51)
        margin-top: 0
        left: auto
        right: auto
        top: auto
        bottom: calc(var(--px1) * 30)
        &:after
            display: none
        svg
            width: calc(var(--px1) * 51)
            height: calc(var(--px1) * 51)

    .swiper-button-prev
        left: 50%
        margin-left: calc(var(--px1) * -61)

    .swiper-button-next
        transform: rotate(180deg)
        left: 50%
        margin-left: calc(var(--px1) * 10)
    .swiper-slide
        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover

.slider-card-thumbs
    user-select: none
    margin-top: calc(var(--px1) * 20)
    filter: drop-shadow(0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01)) drop-shadow(0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05)) drop-shadow(0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09)) drop-shadow(0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1))
    .swiper-slide
        cursor: pointer
        border: calc(var(--px1) * 1) solid #54758E
        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover

    .swiper-slide-thumb-active
        border: calc(var(--px1) * 1) solid $accent

.soc
    display: flex
    li
        width: calc(var(--px1) * 100)
        height: calc(var(--px1) * 90)
        a
            display: block
            width: 100%
            height: 100%
            border: calc(var(--px1)) solid #54758E
            font-size: calc(var(--px1) * 18)
            color: #fff
            text-decoration: none
            text-align: center
            line-height: calc(var(--px1) * 90)
            transition: .3s ease
            border-right-width: calc(var(--px1) / 2)
            border-left-width: calc(var(--px1) / 2)
            svg
                width: calc(var(--px1) * 40)
                height: calc(var(--px1) * 40)
            &:hover
                background-color: #16D1E2

.loc
    position: relative
    padding-left: calc(var(--px1) * 40)
    font-size: calc(var(--px1) * 24)
    line-height: 1.3333
    svg
        position: absolute
        top: 0
        left: 0
        width: calc(var(--px1) * 30)
        height: calc(var(--px1) * 30)

    &__title
        font-size: calc(var(--px1) * 24)
        line-height: 1.3333
        color: #16D1E2
    a
        color: #fff
        text-decoration: none
        transition: .3s ease
        &:hover
            color: #16D1E2


.location
    background: #2E4A5F
    display: flex
    border: calc(var(--px1) * 1) solid #54758E
    filter: drop-shadow(0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01)) drop-shadow(0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05)) drop-shadow(0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09)) drop-shadow(0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1))
    .semi-heading
        margin-bottom: calc(var(--px1) * 25)
    &__content
        min-width: calc(var(--px1) * 1059)
        max-width: calc(var(--px1) * 1059)
        padding: calc(var(--px1) * 50)
        .semi-heading
            padding-bottom: calc(var(--px1) * 25)
            border-bottom: calc(var(--px1) * 1) solid #54758E
    &__map
        min-width: calc(var(--px1) * 451)
        max-width: calc(var(--px1) * 451)
        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover
    .loc
        margin-bottom: calc(var(--px1) * 30)

    .loc-cols
        display: flex
        .loc
            min-width: 50%
            max-width: 50%

.cats
    display: flex
    flex-wrap: wrap
    &__item
        min-width: 33.3333333%
        max-width: 33.3333333%
        border: calc(var(--px1) * 1) solid #54758E
        text-decoration: none
        display: flex
        justify-content: space-between
        background-color: #2E4A5F
        padding: calc(var(--px1) * 30)
        padding-bottom: calc(var(--px1) * 28)
        transition: .3s ease
        span
            font-size: calc(var(--px1) * 24)
            line-height: 1.21
            color: #FFFFFF
            margin-top: auto
            margin-bottom: auto
        svg
            width: calc(var(--px1) * 43)
            height: calc(var(--px1) * 43)
            margin-top: auto
            margin-bottom: auto
            path, rect
                transition: .3s ease
        &:hover, &.active
            background-color: #16D1E2
            span
                color: #000
            svg
                path, rect
                    fill: #000


.portfolio
    display: grid
    gap: calc(var(--px1) * 30)
    grid-template-columns: repeat(2, 1fr)
    &__item
        background: #2E4A5F
        border: calc(var(--px1) * 1) solid #54758E
        text-decoration: none
        filter: drop-shadow(0px calc(var(--px1) * 45) calc(var(--px1) * 18) rgba(0, 0, 0, 0.01)) drop-shadow(0px calc(var(--px1) * 25) calc(var(--px1) * 15) rgba(0, 0, 0, 0.05)) drop-shadow(0px calc(var(--px1) * 11) calc(var(--px1) * 11) rgba(0, 0, 0, 0.09)) drop-shadow(0px calc(var(--px1) * 3) calc(var(--px1) * 6) rgba(0, 0, 0, 0.1))
        &-img
            position: relative
            img
                max-width: 100%
                height: auto
        &-arr
            z-index: 1
            position: absolute
            right: calc(var(--px1) * 50)
            bottom: calc(var(--px1) * 50)
            width: calc(var(--px1) * 101) 
            height: calc(var(--px1) * 101) 
            background-color: #16D1E2
            border-radius: 50%
            display: flex
            transform: rotate(-45deg)
            transition: .3s ease
            transition: .3s
            svg
                margin: auto
                width: calc(var(--px1) * 56)
                height: calc(var(--px1) * 30)
                path
                    fill: #000
                    transition: .3s ease
        
        &-title
            min-height: calc(var(--px1) * 372)
            padding: calc(var(--px1) * 50)

        &:hover
            .portfolio
                &__item
                    &-arr
                        transform: rotate(0deg)


.cont-typo
    font-style: normal
    font-weight: 400
    font-size: calc(var(--px1) * 24)
    line-height: 1.33333
    color: #FFFFFF
    b, strong
        font-weight: bold
    h1
        font-size: calc(var(--px1) * 64)
        text-transform: uppercase
        line-height: 1.21875
    h2
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 36)
        line-height: 1.2222
        letter-spacing: calc(var(--px1) * 2)
        text-transform: uppercase
        color: #FFFFFF
    h3
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 30)
        line-height: 1.2222
        text-transform: uppercase
        letter-spacing: calc(var(--px1) * 2)
        color: #FFFFFF
    p
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 24)
        line-height: 1.33333
        color: #FFFFFF
        margin: 1em 0
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
    ol
        margin: 1em 0
        list-style-type: decimal
        padding-left: calc(var(--px1) * 24)
        li
            margin-bottom: 0.5em
            &:last-child
                margin-bottom: 0
    ul
        margin: 1em 0
        li
            font-size: calc(var(--px1) * 24)
            line-height: 1.5
            color: #FFFFFF
            margin-bottom: calc(var(--px1) * 30)
            padding-left: calc(var(--px1) * 56)
            position: relative
            &:before
                content: ''
                display: block
                width: calc(var(--px1) * 37)
                height: calc(var(--px1) * 36)
                position: absolute
                top: 0
                left: 0
                background-repeat: no-repeat    
                background-position: 0 0
                background-image: url(../images/dist/check.svg)
            &:last-child
                margin-bottom: 0

    blockquote
        margin: 2em 0
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
    .img
        margin: 3em 0
        border: calc(var(--px1) * 1) solid #54758E
        width: calc((var(--px1) * 200) + 100%)
        margin-left: calc(var(--px1) * -100)
        &__content
            background: rgba(46, 74, 95, 0.8)
            backdrop-filter: blur(calc(var(--px1) * 2.5))       
            padding-left: calc(var(--px1) * 90)
            padding-right: calc(var(--px1) * 90)
            padding-top: calc(var(--px1) * 60)
            padding-bottom: calc(var(--px1) * 60)
            border-bottom: calc(var(--px1) * 1)  solid #54758E
            ul
                margin-top: 0
                margin-bottom: 0
        img
            width: 100%
            height: auto
        p
    
            &:last-child
                margin-bottom: 0
    .slider-single-wrap
        margin: 3em 0
        position: relative
        margin-left: calc(var(--px1) * -97)
        margin-right: calc(var(--px1) * -97)
        .swiper-button-prev, .swiper-button-next
            width: calc(var(--px1) * 51)
            height: calc(var(--px1) * 51)
            margin-top: 0
            left: auto
            right: auto
            top: 50%
            transform: translateY(-50%)
            bottom: auto
            &:after
                display: none
            svg
                width: calc(var(--px1) * 51)
                height: calc(var(--px1) * 51)

        .swiper-button-prev
            left: 0
            margin-left: 0

        .swiper-button-next
            right: 0
        .slider-single
            margin-left: calc(var(--px1) * 97)
            margin-right: calc(var(--px1) * 97)
            img
                width: 100%
                height: auto

+media-breakpoint-down(xl)
 
   
+media-breakpoint-down(lg)

+media-breakpoint-down(md)
    
   
    
+media-breakpoint-down(sm)
    .btn
        font-size: calc(var(--px1) * 12)
        line-height: calc(var(--px1) * 34)
        height: calc(var(--px1) * 34)
        justify-content: space-between
        padding-left: calc(var(--px1) * 10)
        padding-right: calc(var(--px1) * 10)
        span, svg
            margin-top: auto
            margin-bottom: auto
        svg
            width: calc(var(--px1) * 15)
            height: calc(var(--px1) * 15)
            margin-left: calc(var(--px1) * 10)
            rect
                transition: .3s ease
        &:hover
            color: #fff
            svg
                rect
                    fill: #fff


    .btn-link
        font-size: 10px
        padding-left: 10px
        padding-right: 10px
        height: 28.5px
        line-height: 28.5px
    .text-lg
        font-size: 20px
    .heading
        font-size: 32px !important
    .grid-products
        display: flex
        flex-direction: column
        .item
            width: 100%
            height: auto
            .heading
                margin-top: 0
                margin-left: 0
                text-align: center
                width: 100%
                margin-bottom: 70px
            &:nth-child(2)
                border-top: 1px solid #54758E
    .cat
        height: auto
        display: flex
        border: 0
        border-bottom: 1px solid #54758E
        &__title
            padding-top: 20px
            padding-left: 20px
            padding-right: 20px
            position: relative
            top: 0
            left: 0
            min-width: 60%
            max-width: 60%
            font-size: 20px
        img
            position: relative
            opacity: 1
            min-width: 40%
            max-width: 40%
            height: auto
            border-left: 1px solid #54758E
        &__arr
            bottom: 20px
            right: calc(40% + 20px)
            width: 40px
            height: 40px
            background-color: #16D1E2
            border-radius: 50%
            display: flex
            transform: rotate(-45deg)
            transition: .3s ease
            svg
                width: 22px
                height: 12px
        &:hover
            border-color: #54758E

    .grid-products
        .item
            &:nth-child(odd)
                .cat
                    img
                        border-left: 0
                        border-right: 1px solid #54758E
                    &__title
                        order: 2

                    &__arr
                        right: 20px
    .sub-heading
        font-size: 20px
    .semi-heading
        font-size: 20px
    .text, blockquote
        padding-top: 15px
        padding-left: 15px
        font-size: 12px
        .semi-heading
            margin-bottom: 10px
        &:before
            width: 40px

        &:after
            height: 40px

    .grid-news
        padding-left: 20px
        padding-right: 20px
        gap: 10px
        display: flex
        overflow-x: auto
        -ms-overflow-style: none
        crollbar-width: none
        &::-webkit-scrollbar
            display: none
        .item
            min-width: 320px
            max-width: 320px

    .tags
        span, a
            padding-left: 5px
            padding-right: 5px
            padding-top: 4px
            padding-bottom: 4px
            font-size: 8px
    .card
        padding-bottom: 61px
        &__content
            padding-top: 15px
            padding-left: 15px
            padding-right: 15px
        &__title
            font-size: 12px
            line-height: 15px
            margin-top: 15px
        &__desc
            margin-top: 5px
            font-size: 10px
            line-height: 12px
        &__date
            font-size: 8px
            line-height: 1
        &__bottom
            padding-left: 15px
            padding-right: 15px
            bottom: 17.75px
            svg
                width: 28px
                height: 15px

    .card
        &_featured
            flex-direction: column
            padding-bottom: 0
            .card
                &__img
                    width: 100%
                    min-width: 100%
                    max-width: 100%
                &__content
                    position: relative
                    padding-left: 20px
                    padding-right: 20px
                    padding-top: 20px
                    padding-bottom: 20px
                &__bottom
                    padding-left: 0
                    padding-right: 0
                    position: static
                    margin-top: 30px
                &__desc
                    font-size: 10px
                    line-height: 1.25
                &__title
                    font-size: 12px

    .slider-card-thumbs
        display: none

    .slider-card
        .swiper-button-prev, .swiper-button-next
            width: 20px
            height: 20px
            bottom: auto
            top: 50%
            left: auto
            margin-top: -20px
            margin-left: 0
            svg
                width: 20px
                height: 20px

        .swiper-button-prev
            left: 20px
        .swiper-button-next
            right: 20px

    .char
        padding-left: 10px
        padding-right: 10px
        padding-top: 10px
        padding-bottom: 10px
        
        .tooltip
            width: 12px
            height: 12px
        svg
            width: 12px
            height: 12px
            margin-left: 5px
        .icon-check
            width: 15px
            height: 10px
            margin-left: 0
        span
            font-size: 12px


    .card-info
        .btn-arr
            margin-top: 2px
            span
                font-size: 20px
        &__heading
            padding-left: 20px
            padding-right: 20px
            font-size: 14px
            min-height: 67px
            padding-top: 10px
            padding-bottom: 10px
            margin-bottom: 20px

        &__char
            padding-left: 20px
            padding-right: 20px
            flex-wrap: wrap
            margin-bottom: 18px
            &-title
                min-width: 100%
                margin-right: 0
                font-size: 14px
                line-height: 33px
            .char
                margin-right: 5px
                margin-bottom: 5px
            > * 
                margin-top: auto
                margin-bottom: auto

    .calc-form
        padding-top: 30px
        padding-bottom: 30px
        padding-left: 30px
        padding-right: 30px
        flex-direction: column
        .heading
            margin-bottom: 10px
        .c-1
            min-width: 100%
            max-width: 100%
            padding-left: 0   
            padding-right: 0
        .c-2
            min-width: 100%
            max-width: 100%
            padding-right: 0
            margin-top: 30px 

    .form
        &__error
            font-size: 12px
        &__select
            height: 45px
            margin-bottom: 10px
            padding-left: 15px
            padding-right: 15px
            font-size: 12px
            background-position: right calc(var(--px1) * 15) center
            background-size: calc(var(--px1) * 15) calc(var(--px1) * 15)
        &__input
            padding-left: 15px
            padding-right: 15px
            height: 45px
            margin-bottom: 10px
            border-radius: 0
            font-size: 12px
        .btn-arr
            margin-top: 10px
            height: 60px
            justify-content: center
            span
                font-size: 20px
            svg
                display: none
    

    .soc
        margin-bottom: 20px
        li
            height: auto
            width: auto
            a
                padding-left: 15px
                padding-right: 15px
                padding-top: 12.5px
                padding-bottom: 12.5px
                height: auto
                width: auto
                line-height: 1
                svg
                    width: 20px
                    height: 20px

    .cats
        &__item
            min-width: 50%
            max-width: 50%
            padding: 15px
            font-size: 12px
            border-width: 0.5px
            span
                font-size: 12px
            svg
                width: 22px
                height: 22px
            &:nth-child(3), &:nth-child(4)
                min-width: 100%
                max-width: 100%

    .portfolio
        padding-left: 20px
        padding-right: 20px
        gap: calc(var(--px1) * 20)
        grid-template-columns: repeat(1, 1fr)
        &__item
            &-title
                padding: 20px
                min-height: 163px
            &-arr
                width: 50px
                height: 50px
                right: 20px
                bottom: 20px
                svg
                    width: 28px
                    height: 15px

    .loc
        font-size: 12px
        &__title
            font-size: 12px
    .location
        flex-direction: column
        padding: 0
        &__content
            padding: 20px
            padding-bottom: 15px
            min-width: 100%
            max-width: 100%
            .semi-heading
                padding-bottom: 10px
                margin-bottom: 15px
        &__map
            min-width: 100%
            max-width: 100%
        .loc-cols
            flex-direction: column
            .loc
                min-width: 100%
                max-width: 100%


    .cont-typo
        font-size: 12px
        h1
            font-size: 32px
        h2
            font-size: 20px
        h3
            font-size: 18px
        p
            font-size: 12px
        ol
            padding-left: 12px
            li
                font-size: 12px
        ul
            li
                font-size: 12px
                margin-bottom: 15px
                padding-left: 30px
                &:before
                    width: 20px
                    height: 20px
                    background-image: url(../images/dist/check.svg)
                    background-size: 20px 20px

        blockquote
            margin: 2em 0
      
        .img
            margin: 3em 0
            width: 100%
            margin-left: 0
            &__content
                padding: 30px
                border-bottom: calc(var(--px1) * 1)  solid #54758E
        .slider-single-wrap
            margin: 3em 0
            .slider-single
                margin-left: 0
                margin-right: 0

            .swiper-button-next, .swiper-button-prev
                display: none


    .journal-container 
        padding-right: 0
        .sidebar
            position: static
            width: 100%
        .grid-news
            grid-template-columns: repeat(1, 1fr)
            gap: 20px
            padding-left: 0
            padding-right: 0
            .item
                max-width: 100%
                min-width: 100%

    .sidebar-block
        &__title
            font-size: 24px
            text-align: center


    .site
        .tags
            display: none
        &__title
            font-size: 12px
        &__date
            font-size: 8px
        &__content
            padding: 0
            padding-top: 25px
            padding-left: 20px
            padding-right: 20px
            min-height: 100px


    .pagenavi
        margin-top: 30px
        &__page
            font-size: 12px
            line-height: 22px
        &__prev
            margin-right: 59px
        &__next
            margin-left: 59px
        &__prev, &__next
            width: 29px
            height: 29px
            svg
                width: 29px
                height: 29px


    .tooltip
        &-content
            position: absolute
            bottom: calc(var(--px1) * 30 + 100%)
            width: 300px
            color: #fff
            padding: 10px
            font-size: 12px
            display: none !important