.footer
    padding-top: calc(var(--px1) * 70)
    padding-bottom: calc(var(--px1) * 70)
    .footer-menu
        ul
            display: flex
            li
                width: calc(var(--px1) * 164)
                height: calc(var(--px1) * 90)
                &.lg
                    width: calc(var(--px1) * 192)
                a
                    display: block
                    width: 100%
                    height: 100%
                    border: calc(var(--px1)) solid #54758E
                    font-size: calc(var(--px1) * 18)
                    color: #fff
                    text-decoration: none
                    text-align: center
                    line-height: calc(var(--px1) * 90)
                    transition: .3s ease
                    border-right-width: calc(var(--px1) / 2)
                    border-left-width: calc(var(--px1) / 2)
                    &:hover
                        background-color: #16D1E2
                        color: #000


    .copyright
        font-size: calc(var(--px1) * 18)
        color: #fff
        margin-top: calc(var(--px1) * 50)

    .footer-top
        display: flex
        justify-content: space-between

.overlay
    width: 100%
    height: 100%
    background: rgba(4, 17, 34, 0.6)
    z-index: 100
    display: none
    position: absolute
    top: 0
    left: 0

.popup
    background-color: #EBF1F5
    display: none
    transition: opacity 0.3s ease
    position: absolute
    opacity: 0
    left: 50%
    border: calc(var(--px1) * 1) solid #54758E
    width: calc(var(--px1) * 810)
    transform: translateX(-50%)
    z-index: 101
    padding-top: calc(var(--px1) * 100)
    padding-bottom: calc(var(--px1) * 100)
    padding-left: calc(var(--px1) * 60)
    padding-right: calc(var(--px1) * 60)
    .btn-arr
        width: 100%
        font-size: calc(var(--px1) * 32)
    &__close
        cursor: pointer
        position: absolute
        top: calc(var(--px1) * 40)
        right: calc(var(--px1) * 40)
        width: calc(var(--px1) * 30)
        height: calc(var(--px1) * 30)
        svg
            width: calc(var(--px1) * 30)
            height: calc(var(--px1) * 30)
    .semi-heading
        color: #0D2536

    .form
        margin-top: calc(var(--px1) * 50)
        .btn-arr
            margin-top: calc(var(--px1) * 30)

    .thanks-inner
        > svg
            margin-bottom: calc(var(--px1) * 20)
            width: calc(var(--px1) * 100)
            height: calc(var(--px1) * 100)
        .btn-arr
            margin-top: calc(var(--px1) * 70)
        p
            font-size: calc(var(--px1) * 24)
            line-height: 1.3333
            color: #0D2536
            margin: 0




.catalog-menu-open
    .overlay
        display: block

+media-breakpoint-down(xl)
 
    
+media-breakpoint-down(lg)
  
    
+media-breakpoint-down(md)
    
+media-breakpoint-down(sm)
    .footer
        padding-top: 30px
        padding-bottom: 30px
        .soc
            margin-left: auto
            margin-right: auto
        .cont
            padding-left: 20px
            padding-right: 20px
        .footer-menu
            ul
                justify-content: center
                li
                    height: auto
                    a
                        font-size: 9px
                        height: 45px
                        width: auto
                        line-height: 45px
                        
        .footer-top
            flex-direction: column-reverse
        .copyright
            margin-top: 20px
            text-align: center
            font-size: 9px
        

    .popup
        max-width: 400px
        width: calc(100% - 40px)
        padding-top: 30px
        padding-left: 30px
        padding-right: 30px
        padding-bottom: 60px
        &__close
            width: 58px
            height: 58px
            border-radius: 50%
            background: #16D1E2
            display: flex
            cursor: pointer
            position: absolute
            top: -30px
            right: -10px
            svg
                width: 20px
                height: 20px
                margin: auto

        .form
            margin-top: 30px
            .btn-arr
                margin-top: 10px


    .page-vacancy
        .footer
            padding-bottom: 120px