@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

.section-intro
    display: flex
    height: calc(100vh - var(--px1) * 179)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    overflow: hidden
    background-image: url(../images/dist/bg-intro.jpg)
    .c-1
        min-width: 50%
        max-width: 50%
        display: flex
        transition: .3s ease
        .video
            filter: drop-shadow(0px 45px 18px rgba(0, 0, 0, 0.01)) drop-shadow(0px 25px 15px rgba(0, 0, 0, 0.05)) drop-shadow(0px 11px 11px rgba(0, 0, 0, 0.09)) drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1))
            position: relative
            z-index: 2
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            min-height: 100%
            max-height: 100%
            top: 50%
            transform: translateY(-50%)
            transition: .5s ease
            img
                display: none
            video
                display: none
            .play
                cursor: pointer
                width: calc(var(--Hpx1) * 101)
                height: calc(var(--Hpx1) * 101)
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            .close
                position: absolute
                right: calc(var(--px1) * 30)
                top: calc(var(--px1) * 30)
                width: calc(var(--px1) * 60)
                display: none
                cursor: pointer
                height: calc(var(--px1) * 60)
                svg
                    width: calc(var(--px1) * 60)
                    height: calc(var(--px1) * 60)

    .c-2
        min-width: 50%
        max-width: 50%
        padding-left: 6.6%
        display: flex
        .intro-block
            margin-top: auto
            margin-bottom: auto
        .text-lg
            max-width: calc(var(--px1) * 646)
        .heading
            max-width: calc(var(--px1) * 518)
            margin-bottom: calc(var(--px1) * 20)

    .btn-arr
        margin-top: calc(var(--px1) * 100)

    &.video-open
        .c-1
            min-width: 100%
            max-width: 100%
        .c-2
            display: none
        .video
            min-width: 100%
            overflow: hidden
            min-height: 100vh
            .play
                display: none
            video
                position: absolute
                top: 50%
                left: 50%
                display: block
                transform: translate(-50%, -50%)
                min-width: 100%
                min-height: 100%
                width: auto
                height: auto
                z-index: -1
            .close
                display: block

.section-intro-career
    height: calc(var(--px1) * 685)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    display: flex
    position: relative
    .breadcrumbs
        position: absolute
        top: 0
    .cont
        margin-top: auto
        margin-bottom: auto
        display: flex
        flex-direction: column
    .semi-heading
        max-width: calc(var(--px1) * 900)
        padding-top: calc(var(--px1) * 30)
        padding-bottom: calc(var(--px1) * 75)

.section-career-nums
    height: calc(var(--px1) * 1000)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    display: flex
    position: relative
    background-image: url(../images/dist/bg-nums.jpg)

    .num-1
        max-width: calc(var(--px1) * 913)
        min-width: calc(var(--px1) * 913)
        margin-top: calc(var(--px1) * 214)
        .num__n
            right: calc(var(--px1) * -20)
            top: calc(var(--px1) * -215)
    .num-2
        margin-top: calc(var(--px1) * 259)
        max-width: calc(var(--px1) * 867)
        min-width: calc(var(--px1) * 867)
        margin-left: calc(var(--px1) * 600)
        .num__n
            left: calc(var(--px1) * -140)
            top: calc(var(--px1) * -262)
    .num
        position: relative
    .num__n
        position: absolute
        font-family: 'marby'
        font-size: calc(var(--px1) * 500)
        letter-spacing: 2px
        color: rgba(84, 117, 142, 0.2)
        line-height: 1


.section-products
    padding-top: calc(var(--px1) * 150)
    padding-bottom: calc(var(--px1) * 150)
    background-repeat: no-repeat
    background-position: center
    background-image: url(../images/dist/bg-prod.jpg)
    background-size: cover
    .heading
        margin-bottom: calc(var(--px1) * 70)

    
.section-service
    padding-top: calc(var(--px1) * 150)
    padding-bottom: calc(var(--px1) * 150)
    background-repeat: no-repeat
    background-position: center
    background-image: url(../images/dist/bg-service.jpg)
    background-size: cover
    .cont
        display: flex
        .c-1
            width: calc(var(--px1) * 623)
        .c-2
            width: calc(var(--px1) * 887)

    
    nav.service
        width: calc(var(--px1) * 887)
        ul
            li
                a
                    text-decoration: none
                    color: #FFFFFF
                    height: calc(var(--Hpx1) * 147)
                    display: flex
                    width: 100%
                    height: calc(var(--Hpx1) * 147)
                    border: calc(var(--Hpx1)) solid #54758E
                    padding-left: calc(var(--Hpx1) * 50)
                    padding-right: calc(var(--Hpx1) * 50)
                    background-color: rgba(0, 6, 14, 0.1)
                    transition: .3s ease
                    justify-content: space-between
                    span
                        margin-top: auto
                        margin-bottom: auto
                        font-size: calc(var(--Hpx1) * 40)
                        line-height: 1.175
                        color: #FFFFFF
                    svg
                        width: calc(var(--Hpx1) * 56)
                        height: calc(var(--Hpx1) * 30)
                        margin-top: auto
                        margin-bottom: auto
                        transform: rotate(-45deg)
                        path
                            fill: #fff
                            transition: .3s ease

                    &:hover
                        background-color: #16D1E2
                        color: #000
                        span
                            color: #000
                        svg
                            path
                                fill: #000

.section-journal
    padding-top: calc(var(--px1) * 116)
    padding-bottom: calc(var(--px1) * 130)
    background-repeat: no-repeat
    background-image: url(../images/dist/bg-blog.jpg)
    background-size: cover
    background-position: center
    .heading-header
        display: flex
        justify-content: space-between
        > *
            margin-top: auto
            margin-bottom: auto
    .card_featured
        margin-top: calc(var(--px1) * 70)
        margin-bottom: calc(var(--px1) * 40)

    .btn-mob
        display: none

.section-chars
    padding-top: calc(var(--px1) * 100)
    padding-bottom: calc(var(--px1) * 100)
    .cont
        display: flex
        justify-content: space-between
        .c-1
            margin-top: auto
            margin-bottom: auto
            max-width: calc(var(--px1) * 688)
            min-width: calc(var(--px1) * 688)
            .heading
                margin-bottom: calc(var(--px1) * 30)
        .c-2
            max-width: calc(var(--px1) * 633)
            min-width: calc(var(--px1) * 633)
            .list-block
                flex-direction: column
                width: 100%
                &__item
                    min-width: 100%
                    max-width: 100%
                    span
                        line-height: 1.333

.section-contacts
    position: relative
    height: calc(var(--px1) * 660)
    .cont
        position: relative
        z-index: 2
        height: calc(var(--px1) * 660)
    .map
        position: absolute
        top: 0
        left: 0
        img
            width: 100%
            height: auto

    .contacts-menu
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
        background-color: #0D2536
        width: calc(var(--px1) * 534)
        display: flex
        &-content
            &__item
                display: none
                padding-top: calc(var(--px1) * 30)
                padding-left: calc(var(--px1) * 30)
                padding-right: calc(var(--px1) * 30)
                p
                    font-size: calc(var(--px1) * 16)
                    line-height: calc(var(--px1) * 20)
                    margin-bottom: 1em
                    b
                        color: #16D1E2
                        font-weight: normal
                        display: block
                    a
                        color: #fff
                        text-decoration: none
                        transition: .3s ease
                        &:hover
                            color: #16D1E2
                &.active
                    display: block
        &-nav
            min-width: calc(var(--px1) * 212)
            max-width: calc(var(--px1) * 212)
            ul
                width: 100%
                li
                    font-size: calc(var(--px1) * 18)
                    line-height: calc(var(--px1) * 90)
                    height: calc(var(--px1) * 90)
                    color: #FFFFFF
                    border: calc(var(--px1)) solid #54758E
                    text-align: center
                    cursor: pointer
                    transition: .3s ease
                    &:hover
                        border-color: #16D1E2
                        background-color: #16D1E2

                    &.active
                        cursor: default
                        border-color: #16D1E2
                        background-color: #16D1E2

.section-advantges
    .heading-mob
        display: none
    .num
        font-family: 'marby'
        font-size: calc(var(--Hpx1) * 500)
        letter-spacing: 2px
        color: rgba(84, 117, 142, 0.2)

    .slide
        width: 100%
        height: calc(var(--px1) * 900)
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        background-image: url(../images/dist/bg-adv.jpg)
        .text
            margin-top: calc(var(--px1) * 225)
        .cont
            display: flex
            .c-1
                min-width: 60%
                max-width: 60%
                position: relative
            .c-2
                min-width: 40%
                max-width: 40%
        .heading
            position: absolute
            left: 0
            top: calc(var(--Hpx1) * 470)
            white-space: nowrap
    .swiper-pagination
        font-size: calc(var(--px1) * 24)
        line-height: calc(var(--px1) * 45)
        letter-spacing: calc(var(--px1))
        position: absolute
        bottom: calc(var(--px1) * 320)
        right: 0
        padding-right: calc(var(--px1) * 302)
        color: #54758E
        text-align: right
        user-select: none

    .swiper-button-next, .swiper-button-prev
        transform: none
        top: auto
        position: absolute
        opacity: 1
        display: block
        margin-top: 0
        width: calc(var(--px1) * 57)
        height: calc(var(--px1) * 31)
        z-index: 20
        cursor: pointer
        bottom: calc(var(--px1) * 327)
        svg
            position: absolute
            top: 0  
            left: 0
            width: calc(var(--px1) * 57)
            height: calc(var(--px1) * 31)
            path
                fill: #54758E
        &:after
            display: none

    .swiper-button-next
        right: calc(var(--px1) * 225)
        
    .swiper-button-prev
        left: auto
        right: calc(var(--px1) * 382)

.section-projects
    background-repeat: no-repeat
    background-position: center
    background-image: url(../images/dist/bg-project.jpg)
    background-size: cover
    padding-top: calc(var(--px1) * 150)        
    padding-bottom: calc(var(--px1) * 137)
    &_card
        background: none
        padding-bottom: calc(var(--px1) * 100)
        background: linear-gradient(180deg, #0C2334 0%, #264259 100%)
    &_vars
        background: #0c2334
        padding-bottom: calc(var(--px1) * 100)
    .slider-projects
        padding-bottom: calc(var(--px1) * 98)
    .swiper-pagination
        font-size: calc(var(--px1) * 24)
        line-height: calc(var(--px1) * 45)
        letter-spacing: calc(var(--px1))
        color: #FFFFFF

    .swiper-button-next, .swiper-button-prev
        bottom: calc(var(--px1) * 20)
        transform: none
        top: auto
        position: absolute
        opacity: 1
        display: block
        margin-top: 0
        width: calc(var(--px1) * 57)
        height: calc(var(--px1) * 31)
        z-index: 20
        cursor: pointer
        &.swiper-button-disabled
            opacity: 0.5
        svg
            position: absolute
            top: 0  
            left: 0
            width: calc(var(--px1) * 57)
            height: calc(var(--px1) * 31)
        &:after
            display: none

    .swiper-button-next
        left: calc(var(--px1) * (556 + 350))
        
    .swiper-button-prev
        left: calc(var(--px1) * 556)

    .slide
        margin-bottom: calc(var(--px1) * 50)
        display: flex
        border: calc(var(--px1)) solid #54758E
        .heading-mob
            display: none
        .text
            margin-top: calc(var(--Hpx1) * 60)
            width: calc(var(--px1) * 500)
        .btn-link
            position: absolute
            left: calc(var(--px1) * 80)
            bottom: calc(var(--px1) * 50)
        .c-1
            min-width: calc(var(--px1) * 765)
            max-width: calc(var(--px1) * 765)
            height: calc(var(--Hpx1) * 787)
            padding-top: calc(var(--px1) * 50)
            padding-left: calc(var(--px1) * 50)
            padding-bottom: calc(var(--px1) * 50)
            padding-right: calc(var(--px1) * 65)
            position: relative
            background: rgba(46, 74, 95, 0.2)
        .c-2
            min-width: calc(var(--px1) * 745)
            max-width: calc(var(--px1) * 745)
            height: calc(var(--Hpx1) * 787)
            background-repeat: no-repeat
            background-position: center
            background-size: cover

    &_vars
        .slide
            margin-bottom: calc(var(--px1) * 50)
            &:last-child
                margin-bottom: 0
            .c-1
                height: calc(var(--px1) * 702)
            .c-2    
                padding-top: calc(var(--px1) * 35)
                padding-bottom: calc(var(--px1) * 35)
                padding-left: calc(var(--px1) * 35)
                padding-right: calc(var(--px1) * 35)
                height: calc(var(--px1) * 702)
            .text
                margin-top: calc(var(--px1) * 56)

.section-features
    background-color: #0C2334
.features
    display: flex
    flex-wrap: wrap
    &__item
        padding-top: calc(var(--px1) * 100)
        padding-bottom: calc(var(--px1) * 100)
        min-width: 50%
        max-width: 50%
        position: relative
        &:nth-child(odd)
            padding-right: calc(var(--px1) * 80)
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: 0
                width: calc(var(--px1) * 1)
                height: 100%
                background-color: #54758E
        &:nth-child(even)
            padding-left: calc(var(--px1) * 80)

        &:nth-child(3), &:nth-child(4)
            &:before
                content: ''
                display: block
                position: absolute
                top: 0
                right: 0
                width: 100%
                height: calc(var(--px1) * 1)
                background-color: #54758E
        .semi-heading
            margin-bottom: calc(var(--px1) * 20)
            white-space: nowrap
        p
            font-size: calc(var(--px1) * 24)
            line-height: 1.33
            margin-bottom: 0

.section-gallery
    padding-top: 100px
    padding-bottom: 100px

.swiper-gallery
    padding-bottom: 87px
    position: relative
    .swiper-slide
        img
            max-width: 100%
            height: auto

    .swiper-button-next, .swiper-button-prev
        transform: none
        top: auto
        position: absolute
        opacity: 1
        display: block
        margin-top: 0
        width: calc(var(--px1) * 57)
        height: calc(var(--px1) * 31)
        z-index: 20
        cursor: pointer
        bottom: 0
        svg
            position: absolute
            top: 0  
            left: 0
            width: calc(var(--px1) * 57)
            height: calc(var(--px1) * 31)
            path
                fill: #54758E
        &:after
            display: none

    .swiper-button-next
        left: 50%
        margin-left: calc(var(--px1) * 128)
    .swiper-button-prev
        left: 50%
        margin-left: calc(var(--px1) * -185)
        
    .swiper-pagination
        font-size: calc(var(--px1) * 24)
        line-height: calc(var(--px1) * 45)
        bottom: calc(var(--px1) * -5)
        user-select: none

.section-card
    padding-bottom: calc(var(--px1) * 100)
    background: linear-gradient(180deg, #264259 0%, #0B2233 79.46%)
    .heading
        margin-bottom: 0
    .cont
        display: flex
        .c-1
            min-width: 41%
            max-width: 41%
        .c-2
            min-width: 59%
            max-width: 59%
            padding-left: calc(var(--px1) * 50)

    .cont-top
        margin-top: calc(var(--px1) * 93)
        .btn-quest
            margin-top: calc(var(--px1) * 15)

    .cont-main
        margin-top: calc(var(--px1) * 50)

    
.section-career-wrap
    background-repeat: no-repeat
    background-position: top center
    background-size: cover
    background-image: url(../images/dist/bg-career-2.jpg)


.section-career-cat
    padding-top: calc(var(--px1) * 70)
    padding-bottom: calc(var(--px1) * 100)
    .cont-heading
        display: flex
        justify-content: space-between
        > *
            margin-top: auto
            margin-bottom: auto
        .heading
            max-width: calc(var(--px1) * 1000)
    .career-card-grid
        margin-top: calc(var(--px1) * 75)

    .btn-mob
        display: none
.section-about
    background-image: url(../images/dist/bg-card-about.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding-top: calc(var(--px1) * 50)        
    padding-bottom: calc(var(--px1) * 250)
    .cont
        display: flex
    .c-1
        min-width: 62%
        max-width: 62%
    .c-2
        min-width: 38%
        max-width: 38%
        display: flex
    p:last-child
        margin-bottom: 0
    .btn-arr
        margin-top: auto
        margin-left: auto
        width: calc(var(--Hpx1)* 546)
        span
            font-size: calc(var(--Hpx1) * 32)

section
    .breadcrumbs
        padding-top: calc(var(--px1) * 47)

    .heading-row
        padding-bottom: calc(var(--px1) * 75)
        border-bottom: calc(var(--px1) * 1) solid #54758E
        .cont
            display: flex
            justify-content: space-between
            > * 
                margin-top: auto
                margin-bottom: auto

        .cont-heading
            margin-top: calc(var(--px1) * 68)
    .cont-cats 
        margin-top: calc(var(--px1) * 90)
        &_top
            flex-direction: column


.section-calc, .section-form-service
    padding-top: calc(var(--px1) * 150)
    padding-bottom: calc(var(--px1) * 150)
    background-image: url(../images/dist/bg-calc.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.section-calc
    text-align: center
    .btn-arr
        display: inline-flex
        margin-left: auto
        margin-right: auto
        max-width: calc(var(--Hpx1) * 500)
        margin-top: calc(var(--Hpx1) * 80)
        span
            font-size: calc(var(--Hpx1) * 32)

.section-form-service
    .form
        background-color: #EBF1F5
        padding: calc(var(--px1) * 50)
        border: calc(var(--px1) * 1) solid #54758E
        .form__input
            margin-bottom: 0
            margin-top: calc(var(--px1) * -1)
        .btn-arr
            height: calc(var(--Hpx1) * 87)
            margin-top: calc(var(--Hpx1) * 50)
            span
                font-size: calc(var(--Hpx1) * 24)
            svg
                width: calc(var(--Hpx1) * 40)
                height: calc(var(--Hpx1) * 22)
    .text-simple
        margin-top: calc(var(--px1) * 18)
    .cont
        display: flex
        justify-content: space-between
        .c-1
            min-width: calc(var(--px1) * 1023)
        .c-2
            min-width: calc(var(--px1) * 487)

.section-contacts-page
    background-image: url(../images/dist/bg-contacts-page.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    .location
        margin-bottom: calc(var(--px1) * 30)
        &:last-child
            margin-bottom: 0
        .loc
            margin-bottom: calc(var(--px1) * 30)

    .section-about
        background: none
        padding-bottom: calc(var(--px1) * 220)
        padding-top: calc(var(--px1) * 150)
    .cont-locations
        padding-top: calc(var(--px1) * 100)

.section-portfolio, .section-catalog
    padding-bottom: calc(var(--px1) * 150)
    background-image: url(../images/dist/bg.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    .heading-row
        padding-bottom: calc(var(--px1) * 100)

    .cont-content
        padding-top: calc(var(--px1) * 100)


.section-catalog_service-1
    .service-row-1
        margin-top: calc(var(--px1) * 34)
        justify-content: space-between
        display: flex
        .c-1
            max-width: calc(var(--px1) * 673)
            min-width: calc(var(--px1) * 673)
    .list-block
        margin-top: calc(var(--px1) * 154) 

    .accordion
        margin-top: calc(var(--px1) * 150)

.section-catalog_service-2
    .service-row-1
        justify-content: space-between
        display: flex
        .heading
            margin-bottom: 30px
        .c-1
            max-width: calc(var(--px1) * 877)
            min-width: calc(var(--px1) * 877)
            padding-right: 40px
            p
                font-size: calc(var(--px1) * 24)
                margin-bottom: 0
        .c-2
            max-width: calc(var(--px1) * 633)
            min-width: calc(var(--px1) * 633)

        .list-block
            flex-direction: column
            &__item
                min-width: 100%
                max-width: 100%
    .service-row-2
        margin-top: 170px
        .points
            margin-top: calc(var(--px1) * 72)


.section-catalog_service-3
    .heading-1
        margin-bottom: calc(var(--px1) * 30)
    .service-row-1
        margin-top: calc(var(--px1) * 34)
        justify-content: space-between
        display: flex
        p
            margin-bottom: 0
        .c-1
            max-width: calc(var(--px1) * 708)
            min-width: calc(var(--px1) * 708)

        .btn-arr
            width: calc(var(--px1) * 512)
    .params
        margin-top: calc(var(--px1) * 142)
    .service-row-2
        margin-top: 170px
        .points
            margin-top: calc(var(--px1) * 72)

.section-catalog_service-4
    .heading-1
        margin-bottom: calc(var(--px1) * 30)
    .service-row-1
        justify-content: space-between
        display: flex
        p
            margin-bottom: 0
        .c-1
            max-width: calc(var(--px1) * 863)
            min-width: calc(var(--px1) * 863)

        .btn-arr
            width: calc(var(--px1) * 512)
    .params
        margin-top: calc(var(--px1) * 142)
    .service-row-2
        margin-top: 150px
        .heading
            margin-bottom: calc(var(--px1) * 75)
        p
            margin-top: calc(var(--px1) * 30)
            font-style: normal
            font-weight: 400
            font-size: calc(var(--px1) * 24)
            line-height: 1.3333
            color: #FFFFFF
            max-width: calc(var(--px1) * 745)
            margin-bottom: 0

    .btns-row
        display: flex
        justify-content: space-between
        gap: calc(var(--px1) * 20)
        .btn-arr
            width: 100%
            box-shadow: none
            span
                font-size: calc(var(--px1) * 24)
            svg
                min-width: calc(var(--px1) * 30)
                max-width: calc(var(--px1) * 30)
                min-height: calc(var(--px1) * 16)
                max-height: calc(var(--px1) * 16)

    .table-row
        display: flex
        justify-content: space-between
        margin-top: calc(var(--px1) * 150)
        .semi-heading
            min-width: calc(var(--px1) * 638)
            max-width: calc(var(--px1) * 638)

        .table
            min-width: calc(var(--px1) * 740)
            max-width: calc(var(--px1) * 740)
            background: rgba(46, 74, 95, 1)
            border: calc(var(--px1) * 1) solid #54758E
            padding: calc(var(--px1) * 50)
    
.section-journal-archive
    padding-bottom: calc(var(--px1) * 137)
    background-image: url(../images/dist/bg.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    .cont-heading
        margin-top: calc(var(--px1) * 100)
    .heading-row
        border: 0
        padding-bottom: calc(var(--px1) * 100)

    .journal-container
        margin-top: calc(var(--px1) * 70)

.section-single
    padding-bottom: calc(var(--px1) * 400)
    background-color: #264259
    background-image: url(../images/dist/bg-single.jpg)
    background-repeat: no-repeat
    background-position: center 
    background-size: cover
    .heading-row
        background: linear-gradient(180deg, #2c4157 0%, #293e54 100%)
        padding-bottom: calc(var(--px1) * 50)
        .heading
            margin-right: 0
    .single-date
        font-style: normal
        font-weight: 400
        font-size: calc(var(--px1) * 16)
        line-height: 1.25
        color: #16D1E2
        white-space: nowrap
        &_mob
            display: none
    .cont-tags
        margin-top: calc(var(--px1) * 50)
        .tags
            a, span
                font-size: calc(var(--px1) * 16)

    .cont-typo
        padding-top: calc(var(--px1) * 50)
        
    &_portfolio
        padding-bottom: calc(var(--px1) * 150)
        .heading-row
            .heading
                margin-right: 0

    &_vacancy
        padding-bottom: calc(var(--px1) * 150)
        .cont-vacancy
            margin-top: calc(var(--px1) * 40)
        .heading-row .cont-heading
            margin-top: calc(var(--px1) * 100)
        .cont-vacancy-info
            padding-top: calc(var(--px1) * 100)

        .form-vacancy
            border: calc(var(--px1) * 1) solid #54758E
            background: #2E4A5F
            padding: calc(var(--px1) * 50)
    .cont-with-sidebaer
        display: flex
        justify-content: space-between
        .sidebar
            min-width: calc(var(--px1) * 487)
            max-width: calc(var(--px1) * 487)
        .main-content
            min-width: calc(var(--px1) * 897)
            max-width: calc(var(--px1) * 897)
            padding-top: 0




.section-journal-archive
    .cont-tags
        display: none !important

+media-breakpoint-down(xl)
  
+media-breakpoint-down(lg)
  
+media-breakpoint-down(md)

        
+media-breakpoint-down(sm)
    .btn-arr
        padding-left: 17.5px
        padding-right: 17.5px
        height: 60px
        width: 100%
        span
            font-size: 20px
        svg
            width: 28px
            height: 15px
    .section-intro
        height: auto
        flex-direction: column
        padding-top: 40px
        .btn-arr 
            margin-top: 50px
        .c-1
            order: 2
            min-width: 100%
            max-width: 100%
            .video
                margin-top: 0
                transform: none
                background: none !important
                min-height: auto
                max-height: none
                .play
                    width: 20px
                    height: 20px
                img
                    display: block
                    width: 100%
                    height: auto
        .c-2
            order: 1
            padding-left: 20px
            padding-right: 20px
            padding-bottom: 50px
            min-width: 100%
            max-width: 100%
            .text-lg
                max-width: 100%
            .heading
                margin-bottom: 10px
                max-width: 100%
    .section-products
        padding-top: 80px
        padding-bottom: 146px
        background-image: url(../images/dist/bg-prod-mob.jpg)

    .section-advantges 
        padding-top: 115px
        padding-bottom: 150px
        background-image: url(../images/dist/adv-mob.jpg)
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        .swiper-pagination, .swiper-button-next, .swiper-button-prev
            display: none
        .swiper-wrapper
            flex-direction: column
        .heading-mob
            display: block
            text-align: center
            margin-bottom: 23px
        .cont
            position: relative
        .num
            font-size: 128px
            width: 76px
            text-align: center
        .slide
            height: auto
            background: none
            .text
                margin-top: 0
            .heading
                display: none
            .cont 
                .c-1
                    max-width: none
                    min-width: auto
                    position: absolute
                    right: 0
                    top: -90px
                .c-2
                    padding-right: 0
                    padding-left: 20px
                    max-width: none
                    min-width: auto
                    padding-right: 90px



        .slider-advantges
            .swiper-slide
                padding-top: 87px
                &:first-child
                    padding-top: 57px

    .section-service 
        padding-top: 70px
        padding-bottom: 70px
        .heading
            margin-bottom: 30px
        .cont
            flex-direction: column
            padding-left: 20px  
            padding-right: 20px
            .c-1
                text-align: center
            .c-2, .c-1
                width: 100%
        nav.service 
            width: 100%
            ul 
                li 
                    a
                        padding-left: 25px
                        padding-right: 25px
                        height: auto
                        padding-top: 25px
                        padding-bottom: 25px
                        span
                            font-size: 20px
                            margin-right: 50px
                        svg
                            right: 25px
                            width: 21px
                            height: 20px

    .section-service-projects-journal
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        background-image: url(../images/dist/bg-serv-proj-blog-mob.jpg)
        .section-projects, .section-service, .section-journal
            background: none

        .section-journal
            position: relative
            .cont
                position: relative
                z-index: 2
            &:before
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: linear-gradient(180deg, #264259 0%, #0B2233 100%)
                content: ''
                display: block
                opacity: 0.75

    .section-projects 
        padding-top: 70px
        padding-bottom: 70px
        .slider-projects
            padding-bottom: 49px
        .swiper-pagination
            font-size: 12px
            line-height: 22px
            bottom: 0
        .cont
            padding-left: 20px
            padding-right: 20px
        .slide
            flex-direction: column-reverse
            .heading-mob
                display: block
                text-align: center
                padding-left: 20px
                padding-right: 20px
                padding-top: 20px
                padding-bottom: 32px
            .heading-desktop
                display: none
            .btn-link
                position: static
                margin-top: 35px
            .text
                margin-top: 0   
                width: 100%
                max-width: 500px
                p
                    margin-bottom: 0
            .c-1
                min-width: 100%
                max-width: 100%
                padding-top: 30px
                padding-left: 20px
                padding-right: 20px
                padding-bottom: 20px
                height: auto
            .c-2
                min-width: 100%
                max-width: 100%
                height: 332px


        .swiper-button-next, .swiper-button-prev
            top: auto
            margin-top: 0
            width: 28px
            height: 15px
            left: 50%
            bottom: 3px
            svg
                width: 28px
                height: 15px

        .swiper-button-prev
            margin-left: -87px
        .swiper-button-next
            margin-left: 58px
        &_vars
            .slide
                .c-1
                    min-width: 100%
                    max-width: 100%
                    padding-top: 30px
                    padding-left: 20px
                    padding-right: 20px
                    padding-bottom: 20px
                    height: auto
                .c-2
                    padding-top: 0
                    padding-bottom: 20px
                    padding-left: 20px
                    padding-right: 20px
                    min-width: 100%
                    max-width: 100%
                    height: auto
    .section-journal
        padding-top: 70px
        padding-bottom: 70px
        .heading-header
            justify-content: center
        .heading
            text-align: center
            margin-bottom: 30px
        .grid-news
            margin-bottom: 30px

        .btn-desktop
            display: none
        .btn-mob
            display: flex
            margin-left: auto
            margin-right: auto
        .card_featured
            display: none

    .section-contacts
        height: 620px
        .contacts-menu
            width: 292px
            right: auto
            left: 50%
            top: auto
            bottom: 60px
            transform: translateX(-50%)
        .contacts-menu-nav 
            min-width: 110px
            max-width: 110px
            ul 
                li
                    font-size: 12px
                    height: 45px
                    line-height: 45px

        .contacts-menu-content__item 
            padding-left: 15px
            padding-right: 15px
            padding-top: 15px
            p
                font-size: 12px 
                line-height: 1.222
        .cont
            height: 620px
            position: absolute
            top: 0
            left: 0
            width: 100%
        .map
            height: 620px
            position: relative
            img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-fit: cover


    .section-card
        padding-top: 0
        padding-bottom: calc(var(--px1) * 75)
        .cont
            flex-direction: column
            padding-left: 20px
            padding-right: 20px
            .c-1
                min-width: 100%
                max-width: 100%
            .c-2
                min-width: 100%
                max-width: 100%
                padding-left: 0
        .cont-top
            margin-top: 50px
            .c-2
                display: none

        .cont-main
            margin-top: calc(var(--px1) * 37)
            .c-2
                margin-top: 40px


    .features
        flex-direction: column
        border-left: 1px solid #54758E
        &__item
            padding-top: 20px
            padding-bottom: 20px
            min-width: 100%
            max-width: 100%
            padding-left: 20px !important
            padding-right: 20px !important
            border-bottom: 1px solid #54758E
            &:before, &:after
                display: none !important
                
            .semi-heading
                margin-bottom: 10px
            p
                font-size: 12px

            &:first-child
                padding-top: 50px
            &:last-child
                border-bottom: 0
                padding-bottom: 50px

    .section-features
        .cont
            padding-left: 20px
            padding-right: 20px


    .section-calc, .section-form-service
        padding-top: 75px
        padding-bottom: 75px
        .cont
            padding-left: 20px
            padding-right: 20px

    .section-about
        padding-top: 0
        padding-bottom: 125px
        .cont
            flex-direction: column
            padding-left: 20px
            padding-right: 20px
        .c-1
            min-width: 100%
            max-width: 100%
        .c-2
            min-width: 100%
            max-width: 100%
        .btn-arr
            margin-top: 0
            margin-left: 0
            width: 100%
            max-width: 400px
            margin-top: 35px
            span
                font-size: 20px


    section
        .breadcrumbs
            padding-top: 20px
        .heading-row
            padding-left: 20px
            padding-right: 20px
            .cont-heading
                margin-top: 30px

        .cont-cats
            margin-top: 50px

    .section-portfolio, .section-catalog
        padding-bottom: 75px
        background-image: url(../images/dist/bg-port-mob.jpg)
        .heading-row
            padding-bottom: 50px

        .cont-content
            padding-top: 50px

    .section-contacts-content 
        .cont-locations
            padding-top: 50px
            padding-left: 20px
            padding-right: 20px
        .heading-row
            padding-bottom: 30px

        .location
            .loc
                margin-bottom: 15px


    .section-contacts-page 
        .section-about
            padding-top: 75px
            padding-bottom: 125px
    .section-single 
        padding-bottom: 197px
        .single-date
            font-size: 12px
            &_desktop
                display: none
            &_mob
                display: block
        .cont-tags
            margin-top: 30px
            .tags 
                a   
                    padding: 5px 7px
                    font-size: 12px

        .heading-row
            padding-bottom: 25px

        .cont-typo
            padding-top: 25px

    .section-single_portfolio
        padding-bottom: 75px

    .section-journal-archive
        padding-bottom: 120px
        .journal-container
            margin-top: 50px
            display: flex
            flex-direction: column-reverse
        .heading-row
            padding-bottom: 20px
        .sidebar-block_tags
            display: none
        .cont-tags
            display: block !important
            margin-top: 20px
            .tags
                overflow-x: auto
                -ms-overflow-style: none
                crollbar-width: none
                &::-webkit-scrollbar
                    display: none
                a
                    margin-right: 5px
                    &:last-child
                        margin-right: 0
        .cont-content
            padding-left: 20px
            padding-right: 20px



    .section-single
        .cont-with-sidebaer
            .sidebar
                transform: translateY(100%)
                position: fixed
                bottom: 0
                left: 0
                min-width: 100%
                max-width: 100%
                z-index: 101
                padding-left: 20px
                padding-right: 20px
                transition: .5s ease
                visibility: hidden
            .main-content
                min-width: 100%
                max-width: 100%
                padding-left: 20px
                padding-right: 20px

    .vacancy-form-mob-open
        .overlay
            display: block
        .section-single
            .cont-with-sidebaer
                .sidebar
                    visibility: visible
                    transform: translateY(0)
    .section-single_vacancy
        padding-bottom: 70px
        .cont-vacancy-info
            padding-top: 30px
        .single-date_desktop 
            display: block
        .cont-vacancy 
            margin-top: 10px
        .heading-row
            padding-bottom: 40px
            .cont-heading 
                margin-top: 70px

        .form-vacancy
            width: 100%
            padding-top: 27px
            padding-left: 30px
            padding-right: 30px
            padding-bottom: 28px
            
            label.file-label
                margin-top: 20px

            .btn-arr
                margin-top: 40px

        
    .section-form-service
        .form
            padding: 30px
            .btn-arr
                height: 60px
                margin-top: 20px
                padding-left: 17.5px
                padding-right: 17.5px
                span
                    font-size: 20px
                
        .text-simple
            margin-top: 10px
            br
                display: none
        .cont
            flex-direction: column
            .c-1
                min-width: 100%
            .c-2
                margin-top: 40px
                min-width: 100%

    .section-catalog_service
        .cont-content
            padding-left: 20px
            padding-right: 20px

    .section-catalog_service-1 
        .list-block
            margin-top: 40px
        .accordion
            margin-top: 40px
        .service-row-1 
            margin-top: 10px
            flex-direction: column
            .c-1
                p
                    font-size: 12px
                    margin-bottom: 0
            .c-2
                display: none
            .c-1, .c-2
                min-width: 100%
                max-width: 100%

    .section-catalog_service-2
        .service-row-1
            flex-direction: column
            .heading
                margin-bottom: 10px
            .c-1
                max-width: 100%
                min-width: 100%
                padding-right: 0
                p
                    font-size: 12px
            .c-2
                margin-top: 40px
                max-width: 100%
                min-width: 100%
        .service-row-2
            margin-top: 100px
            .points
                margin-top: 20px


    .section-catalog_service-3
        .heading-1
            margin-bottom: 10px
        .params
            margin-top: 60px
        .service-row-1 
            flex-direction: column
            .c-1
                p
                    font-size: 12px
                    margin-bottom: 0
            .c-2
                display: none
            .c-1, .c-2
                min-width: 100%
                max-width: 100%

        .service-row-2
            margin-top: 100px
            .points
                margin-top: 20px


    .section-catalog_service-4
        .heading-1
            margin-bottom: 10px
        .service-row-1
            display: flex
            flex-direction: column
            .c-1
                max-width: 100%
                min-width: 100%

            .btn-arr
                display: none
        .params
            margin-top: 60px
        .service-row-2
            margin-top: 60px
            .heading
                margin-bottom: 30px
            p
                margin-top: 20px
                font-size: 16px
                line-height: 1.3333
                max-width: 100%
        .btns-row
            flex-direction: column
            gap: 10px
            .btn-arr
                span
                    font-size: 16px
                    text-align: left
                svg
                    min-width: 20px
                    min-height: 11px
                    max-width: 20px
                    max-height: 11px

        .table-row
            flex-direction: column
            margin-top: calc(var(--px1) * 60)
            .semi-heading
                min-width: 100%
                max-width: 100%
                margin-bottom: 20px
            .table
                min-width: 100%
                padding: 30px
                padding-bottom: 20px
                padding-top: 20px


    .section-intro-career 
        padding-left: 20px
        padding-right: 20px
        height: 475px
        .breadcrumbs
            display: none

        .semi-heading
            padding-top: 10px
            padding-bottom: 50px
    .section-career-nums
        height: auto
        background-image: url(../images/dist/bg-career-mob.jpg)
        padding-left: 20px
        padding-right: 20px
        padding-top: 126px
        padding-bottom: 160px
        .num-1
            max-width: 100%
            min-width: 100%
            margin-top: 0
            padding-right: 70px
            .num__n
                right: 20px
                top: -80px
        .num-2
            margin-top: 87px
            max-width: 100%
            min-width: 100%
            margin-left: 0
            padding-right: 70px
            .num__n
                left: auto
                top: -80px  
                right: 0
       
        .num__n
            font-size: 128px

    .section-gallery
        padding-top: 70px
        padding-bottom: 70px
    .swiper-gallery
        padding-bottom: 0
        .swiper-button-next, .swiper-button-prev, .swiper-pagination
            display: none

    .section-chars 
        padding-top: 90px
        padding-bottom: 50px
        .heading
            margin-bottom: 10px
        .cont
            flex-direction: column
            padding-left: 20px
            padding-right: 20px
            p
                font-size: 14px
                margin-bottom: 30px
            .c-1, .c-2
                max-width: 100%
                min-width: 100%

    .section-career-cat
        padding-top: 50px
        padding-bottom: 70px
        .cont
            padding-left: 20px
            padding-right: 20px
        .cont-heading
            max-width: 100%
            .btn
                display: none

        .btn-mob
            margin-top: 30px
            max-width: 129px
            display: flex
            margin-left: auto
            margin-right: auto
    .section-calc 
        .btn-arr
            font-size: 20px
            margin-top: 30px
            span
                font-size: 20px

    .section-career-cat 
        .career-card-grid
            margin-top: 30px


    .section-products
        .heading
            text-align: center